@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins ExtraLight";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Poppins-Medium.ttf") format("truetype");
}
