// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// fonts families
$family-regular: "Poppins Regular";
$family-light: "Poppins Light";
$family-extra-light: "Poppins ExtraLight";
$family-medium: "Poppins Medium";

// fonts sizes
$font-primary: 1rem;

// Colors

// Dark
$background-dark: #000000;
$text-dark: #ffffff;
$primary-dark: #323232;
$secondary-dark: #ff1e56;
$three-dark: #ffac41;

// Light
$background-light: #f6f6f6;
$text-light: #000000;
$primary-light: #c7ffd8;
$secondary-light: #98ded9;
$three-light: #161d6f;
